default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: username
  password: password
development:
  <<: *default
  database: voter-preference-app_development
test:
  <<: *default
  database: voter-preference-app_test
production:
  <<: *default
  database: voter-preference-app_production
